---
import type { ProyectI } from '@/config/projectData'
import ImageLazy from './ImageLazy.svelte'
import { buttonVariants } from './ui/button'
import { GithubIcon } from 'lucide-svelte'

interface Props extends ProyectI {}

const { demoLink, description, image, repoLink, tecnologias, title } = Astro.props
---

<article
  class='w-full min-h-[250px] flex flex-col lg:flex-row lg:gap-28 gap-8 odd:lg:flex-row-reverse'
>
  <div class='flex-1'>
    <h2 class='text-xl mb-2'>{title}</h2>
    <p class='mb-5 text-secondary-foreground'>
      {description}
    </p>

    <div class='gap-2 flex'>
      <a href={demoLink} target='_blank' rel='noopener noreferrer' class={buttonVariants({ variant: 'outline' })}>
        Demo</a
      >
      <a href={repoLink} rel='noopener noreferrer' target="_blank"  class={buttonVariants({ variant: 'secondary' })}>
        <GithubIcon class='h-4 w-4' />
        Repositorio</a
      >
    </div>
  </div>
  <div class='flex-1 '>
    <ImageLazy image={image} alt={`imagen de ${title}`} client:visible />
  </div>
</article>
